<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="im.vector">

    <application>
        <activity android:name=".activity.VectorUniversalLinkActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="matrix.i.tchap.gouv.fr" />
                <!-- email validation, account renew -->
                <data android:pathPrefix="/_matrix/client/unstable/registration/email/submit_token" />
                <data android:pathPrefix="/_matrix/client/unstable/password_reset/email/submit_token" />
                <data android:pathPrefix="/_matrix/client/unstable/account_validity/renew" />
                <!-- legacy email validation -->
                <data android:pathPrefix="/_matrix/identity/api/v1/validate/email/submitToken" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="matrix.e.tchap.gouv.fr" />
                <!-- email validation, account renew -->
                <data android:pathPrefix="/_matrix/client/unstable/registration/email/submit_token" />
                <data android:pathPrefix="/_matrix/client/unstable/password_reset/email/submit_token" />
                <data android:pathPrefix="/_matrix/client/unstable/account_validity/renew" />
                <!-- legacy email validation -->
                <data android:pathPrefix="/_matrix/identity/api/v1/validate/email/submitToken" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="www.beta.tchap.gouv.fr" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="beta.tchap.gouv.fr" />
            </intent-filter>
        </activity>

    </application>

</manifest>
