<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- jitsi -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" tools:node="remove" />

    <!-- Jitsi libs adds CALENDAR permissions, but we can remove them safely according to https://github.com/jitsi/jitsi-meet/issues/4068#issuecomment-480482481 -->
    <uses-permission
        android:name="android.permission.READ_CALENDAR"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.WRITE_CALENDAR"
        tools:node="remove" />

    <!-- to be able to turn on display when a notification is received -->
    <!-- Note: Those permissions are added by the Jitsi lib -->
    <uses-permission android:name="android.permission.WAKE_LOCK" tools:node="remove" />

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" tools:node="remove" />


    <!-- videocall feature -->
    <!-- android.permission.CAMERA defines android.hardware.camera (Note: added by matrix SDK) -->
    <uses-permission android:name="android.permission.CAMERA" tools:node="remove" />

    <uses-feature
        android:name="android.hardware.camera"
        tools:node="remove" />
    <uses-feature
        android:name="android.hardware.camera.any"
        tools:node="remove" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        tools:node="remove" />
    <uses-feature
        android:glEsVersion="0x00020000"
        tools:node="remove" />


    <!-- android.permission.RECORD_AUDIO defines android.hardware.microphone -->
    <!-- Note: Those permissions are added by the Jitsi lib -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" tools:node="remove" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" tools:node="remove" />

    <uses-feature
        android:name="android.hardware.microphone"
        tools:node="remove" />


    <!-- bluetooth headset -->
    <!-- Note: Those permissions are added by the Matrix SDK -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" tools:node="remove" />
    <uses-permission android:name="android.permission.BLUETOOTH" tools:node="remove" />

    <uses-feature
        android:name="android.hardware.bluetooth"
        tools:node="remove" />


    <uses-permission android:name="android.permission.READ_PHONE_STATE" tools:node="remove" />

    <uses-feature
        android:name="android.hardware.telephony"
        tools:node="remove" />

</manifest>
