<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- jitsi -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- to be able to turn on display when a notification is received -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />


    <!-- videocall feature -->
    <!-- android.permission.CAMERA defines android.hardware.camera -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"
        tools:replace="required" />
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false"
        tools:replace="required" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false"
        tools:replace="required" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="false"
        tools:replace="required" />


    <!-- android.permission.RECORD_AUDIO defines android.hardware.microphone -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false"
        tools:replace="required" />


    <!-- bluetooth headset -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false"
        tools:replace="required" />


    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

</manifest>
